apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicex-base.yaml
configMapGenerator:
  - name: servicex-helm-config
    files:
      - values.yaml
configurations:
  - kustomizeconfig.yaml
